<div class="container">

    <form method="POST" role="form">
        <legend>{{title}}</legend>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name...">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name...">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email...">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a class="btn btn-primary text-right" href="/">Back to list</a>
</div>